# 1. Cấu hình Server
PORT=PORT_BE
GIN_MODE=debug # (Nếu sếp xài Gin Framework)
CORS_ORIGINS=URL_FE

# 2. Cấu hình Database (MySQL)
DB_HOST=DB_HOST
DB_PORT=DB_PORT
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_NAME=DB_NAME

# 3. Cấu hình Token (JWT)
JWT_SECRET=JWT_SECRET

# 4. Cấu hình Cloudinary (Up ảnh)
CLOUDINARY_URL=CLOUDINARY_URL