# ========================
# Go build
# ========================
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# ========================
# Go test
# ========================
*.test
*.out
coverage.out

# ========================
# Go workspace
# ========================
go.work
go.work.sum

# ========================
# Env
# ========================
.env
.env.local

# ========================
# Logs
# ========================
*.log

# ========================
# Mac / Windows
# ========================
.DS_Store
Thumbs.db